body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: azure;
}

h1 {
    background-color: rgb(0, 36, 58);
    color: azure;
    padding: 50px;
    font-size: 40px;

}

ul {
    list-style: none;
     display: inline-block; 
     margin: 32px;
    

}

li p {
   
    background-color: rgb(0, 36, 58);
    }
    
a {
    color:azure;
     font-size: 30px;
    margin: 20 px;
    text-decoration: none;
    background-color: rgb(0, 36, 58);
}
a:hover {
    text-decoration: underline;
}

h3 a {
    font-size: 15px;

}

    .collapsible-container {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-out;
    }

    .collapsible-container.open {
      max-height: 200px; /* Adjust as needed for content size */
    }

    .collapsible-content {
      padding: 10px;
      background-color: #f0f0f0;
      border-left: 4px solid #0065BD;
    }
.description {
    margin: 20px 300px;
    text-align: center;
}
footer {
    background-color: azure;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
    footer a {
        background-color: azure;
        color:rgb(0, 36, 58);
        font-size: 20px;
    }
.demonline {
    width: fit-content;
}

